<div class="content-container">
    <h1>
        New England Database Day 2015 Papers for Presentation <br />
        <small>January 30, 2015</small>
    </h1>
    <p></p>
    <p>Coming soon...</p>
</div>