body {
    padding: 20px;
    background-color: #FFFFFF;
    font-size: 12pt;
    font-weight: normal;
    color: #555;
}

#nav {
    height: 100%;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 11pt;
}

#nav .sidebar {
    width: 95%;
    list-style: none;
}

#nav .sidebar li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
    margin: 15px 0 0 0;
    font-size: 13pt;
    font-weight: bold;
}

h1,.jumbotron h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    /*color: navy;*/
}

h3 {
    font-size: 18px;
    font-weight: bold;
    /*color: navy;*/
}

.jumbotron {
    padding: 20px;
    background-color: #E0EEEE;
}

.jumbotron p {
    font-size: 13pt;
    font-weight: normal;
}

.content-container {
  width: 80%;
}

#logo {
  background-image:url(/images/northeast.png); 
  width:70%; min-width: 200px; height: 200px; background-size:cover;
  background-repeat: no-repeat;
}

/* collapsed sidebar styles */
@media screen and (max-width: 850px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -41.6%;
    }
    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #nav {
        padding-top: 0;
    }
    #nav .sidebar>li {
        color: #ddd;
    }
    #nav .sidebar>li:first-child {
        border-top: 0;
        
    }
    #logocontainer {
      float: left;
    }
    #logo {
      width:100%; 
      height: 150px;
      background-size: contain;
      float: left;
    }

    #content {
        min-height: 350px;
    }
    .content-container {
        padding: 10px 50px 0 50px;
        /*border-top: #226821 2px solid;*/
    }
    .content-container>.panel-default,.content-container>.list-group {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

h2.sponsorCallout {
    text-align: center;
    width: 600px;
}

p.sponsorCallout {
    text-align: center;
    width: 600px;
    color: #333333;
}

p.programDate {
    color: #666666;
    margin: 0;
    font-size: 11pt;
}

.programTable, .posterTable {
    min-width: 600px;
    width: 86%;
    font-size: 11pt;
}

.programTable a, .posterTable a {
    font-size: 10pt;
}

.abstract {
    color: #666666;
    font-size: 11pt;
    line-height: 1;
}

.abstract h3 {
    font-size: 10pt;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0 0 0;
    color: navy;
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td
    {
    padding: 3px 15px 2px 15px;
}