<div class="content-container">
   <div class="jumbotron">
      <h1>
         North East Database Day 20l6 <br />
         <small>Thursday January 28th, 2016</small>
      </h1>
      <p>Welcome to the home page for the Eighth Annual North East Database Day (NEDB Day), to be held on
         January 28th, 2016. This will be an all day conference-style event where participants from the research
         community and industry in the Northeast can come together to present ideas and discuss their research
         and experiences. <a href="https://www.eventbrite.com/e/north-east-database-day-2016-registration-19686759628">Registration</a> for the event is $50 for non-students, and free for students. Anyone is
         welcome to attend. Lunch, drinks and appetizers will be provided.
      </p>
      <p>
         The event will feature keynotes from 
         Richard Hipp, the architect and primary author of SQLite, and
         Le Cong, the leading CRISPR researcher.
      </p>
   </div>
   <div class="page-content">
      <h2>Sponsors</h2>
      <p>
         Special thanks to this year's sponsor:<br> <br> 
         
         <img src="images/logos/microsoft.jpg" width="180" />
      </p>
      <h2>Event details</h2>
      <p>
         The North East Database Day will be held on the MIT campus, in room 32-123 of the Stata Center, located
         at 32 Vassar St. on the corner of Main St. and Vassar St. in Cambridge. A campus map is available <a
            href="http://whereis.mit.edu/map-jpg?selection=32">here</a>. The room is on the first floor.
      </p>
      <p>
         The event will be held on January 28, 2016, from 9:00 AM to 6:00 PM, including appetizers and drinks at a
         poster session from 4-6 PM. The <a href="#program">technical program</a> is available.
      </p>
      <p>We would be happy to recommend restaurants at any price level to attendees who are interested in eating
         in Cambridge or Boston after the event.
      </p>
      <h2>Important Dates</h2>
      <ul id="dates" class="items">
         <li><b>Paper/talk and poster submission:</b> January 8th, 2016</li>
         <li><b>Author notification:</b> January 15th, 2016</li>
         <li><b>Registration:</b> January 22nd, 2016</li>
         <li><b>NEDB Day:</b> January 28th, 2016</li>
      </ul>
      <h2> Poster and Paper/Talk Submission </h2>
      <p>   Submit poster and paper/talk submissions on the <a href="https://cmt3.research.microsoft.com/NEDBDAY2016/">NEDB Day '16 Microsoft CMT Site</a>.
         For papers/talks, please prepare a maximum 2 page abstract (in the format of your choosing) describing research you would like to present in a talk.  
         For posters, please prepare a maximum 1 page abstract summarizing your poster (a paragraph is actually fine).  
         All reasonable posters will be accepted.  We accommodate as many talks as possible but have a limited number of speaking slots. 
         If your talk is rejected you may opt to convert it to a poster.
      </p>
      <ul id="links" class="items">
         <li>
            <a href="#program">List of Accepted Papers</a>
            <p>
         </li>
         <li><a href="#posters">List of Posters</a></li>
      </ul>
      <h2>Registration</h2>
      <p>
         This year we will be charging non-students a nominal fee ($50) to defray some of our costs and discourage
         registrants who are not serious about attending (so that we can better plan for food and drink allocation.)
         If this cost is prohibitive to you and you are a non-student, please contact us. 
          <a href="https://www.eventbrite.com/e/north-east-database-day-2016-registration-19686759628"
             id="registerbtn">Register Here</a>
      </p>
      <p>
      </p>
      <h2>Parking and Transportation</h2>
      <p>
         We cannot provide on-campus parking for all attendees. If you are coming from the North or West, you may
         find it most convenient to drive to Alewife Station and take the Red Line to Kendall Square (MIT is about 2
         blocks from the Kendall Square Station, which is on Main St.) If you are coming from the South, you can park
         at Braintree or Quincy Station and take the Red Line as well. See this <a
            href="http://www.mbta.com/schedules_and_maps/subway/lines/?route=RED">Red Line Map</a>. Parking at these
         stations is $7.00.
      </p>
      <p>
         If you are driving to MIT, there are several nearby pay parking lots. See MIT's page listing <a
            href="http://web.mit.edu/facilities/transportation/parking/visitors/public_parking.html">public
         parking facilities</a>. The Cambridge Center lots are all a short walk to the Stata Center. Most lots charge
         $20.00 for one day parking.
      </p>
      <h2>Program Committee and Organizers</h2>
      <ul id="committee" class="items">
         <li><b>General Chairs:</b> Samuel Madden (MIT), Eugene Wu (Columbia University)
          
         </li>
         <li><b>Program Committee Chair:</b> 
         </li>
         <li><b>Program Committee Members:</b> 
          <!--Tim Kraska (Brown University), Olga Papaemmanouil (Brandeis University), Michael Stonebraker (MIT), Stan Zdonik (Brown University)-->
        </li>
      </ul>
   </div>
</div>