<div class="content-container">
    <h1>
        North East Database Day 2016 Papers for Presentation <br />
        <small>January 29, 2016</small>
    </h1>
    <p></p>
    <p>Coming soon...</p>
</div>