<!-- sidebar -->
<ul class="sidebar">
   <a href="#"><img src="./images/newengland.jpg" width="200" title="New England Database Day, 2016"></a>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="https://cmt.research.microsoft.com/NEDB2016/">Submission Site</a></li>
   <!--<li class="program"><a href="#program">Program</a></li>-->
   <!-- <li class="papers"><a href="#papers">Accepted Papers</a></li> -->
   <li class="posters"><a href="#posters">Accepted Posters</a></li>
   <!-- <li class="registration"><a href="http://www.eventbrite.com/">Registration</a></li> -->
   <li class="map"><a href="http://whereis.mit.edu/map-jpg?selection=32">Map</a></li>
</ul>