<!-- sidebar -->
<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span > NEDB Day<br/>2020</span>
    </div>
    </a>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="https://cmt3.research.microsoft.com/NEDBDay2017/">Submission Site</a></li>
   <li class="program"><a href="#program">Program</a></li>
   <li class="keynote"><a href="#keynote">Keynotes</a></li>
   <!--
   <li class="papers"><a href="#papers">Accepted Papers</a></li>
   -->
   <li class="posters"><a href="#posters">Accepted Posters</a></li>
   <li class="registration"><a href="https://www.eventbrite.com/e/northeast-database-day-2017-tickets-29788050862">Registration</a></li>
   <li class="map"><a href="http://whereis.mit.edu/map-jpg?selection=32">Map</a></li>
</ul>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>
