<!-- sidebar -->
<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span > NEDB Day<br/>2020</span>
    </div>
    </a>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="https://cmt3.research.microsoft.com/NEDB2020">Submission Site</a></li>

   <li class="program"><a href="#">Program</a></li>
   <li class="keynote"><a href="#">Keynotes</a></li>
   <!-- <li class="papers"><a href="">Accepted Papers</a></li> -->
   <li class="posters"><a href="#">Poster Session</a></li>

   <li class="registration"><a href="https://www.eventbrite.com/e/north-east-database-day-2020-registration-84610250537">Registration</a></li>
   <li class="map"><a href="http://whereis.mit.edu/?go=E52">Map</a></li>
</ul>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>
