<div class="content-container">
   <h1>
         North East Database Day 2017 <br />
         <small>Friday January 27th, 2017</small><br/>
         <small>MIT CSAIL Bulding 32 Room 123</small>
   </h1>
   <p>The poster session will include drinks and appetizers. It will be held in Building 32, R&D Commons, 4th Floor, Gates Tower. Take either set of elevators to the 4th floor.</p>
   <h3>Information for Poster Presenters</h3>
   <p>We will be able to provide poster board, easels, and mounting supplies for you.
      You will need to print your poster and bring it with you to the conference. We recommend posters to be either A0, A1, or ANSI D or E sizes  (either 24" by 32" or 36" by 42"). 
      Our poster boards are large enough to accommodate any of these (4' x 6'). 
      You may orient your poster as you see fit. If you prefer to print out individual 8.5" x 11" pages, our board will be large enough to 
      accommodate about 12 pages. However, we recommend making a single poster -- if you don't have access to a large format printer Fedex/Kinkos can print your poster for you.
   </p>
   <p>We will have a storage area for poster tubes at the conference. You will be able to set up your posters during the lunch break.</p>
   <h3>List of accepted posters:</h3>
<p>
Coming soon...
</p>

</div>
