<div class="content-container">
   <h1>
         North East Database Day 2019 <br />
         <small>Friday January 24th, 2019</small><br/>
         <small>Samberg Conference Center at MIT</small>
   </h1>
   <p>The poster session will include drinks and appetizers. It will be held in the  Samberg Conference Center at MIT. Take either set of elevators to the 4th floor.
   Speakers are also encouraged to present their work as an additional poster.</p>
   <h3>Information for Poster Presenters</h3>
   <p>We will be able to provide poster board, easels, and mounting supplies for you.
      You will need to print your poster and bring it with you to the conference. We recommend posters to be either A0, A1, or ANSI D or E sizes  (either 24" by 32" or 36" by 42").
      Our poster boards are large enough to accommodate any of these (4' x 6').
      You may orient your poster as you see fit. If you prefer to print out individual 8.5" x 11" pages, our board will be large enough to
      accommodate about 12 pages. If you prefer a single poster and you don't have access to a large format printer, Fedex/Kinkos can print your poster for you.
   </p>
   <p>We will have a storage area for poster tubes at the conference. You will also be able to set up your posters from 8:00 AM Friday morning, if you would like to put them up early.</p>
   <h3>List of accepted posters:</h3>

<!-- 
<table class="table table-bordered posterTable">
<tbody>
<tr>
<td>
AUTHORS AUTHORS AUTHORS AUTHORS AUTHORS AUTHORS
<br/>
<strong>
TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE
</strong><br/>
<a href="javascript: toggleVisibility ('#po1')">Toggle Abstract</a>
<div id="po1" class="abstract" style="display: none;">
<p>
ABSTRACT ABSTRACT ABSTRACT ABSTRACT ABSTRACT ABSTRACT ABSTRACT
</p>
</div>
</td>
</tr> 

</tbody>
</table>

-->
</div>
