<div class="content-container">
  <div class="jumbotron">
    <h1> Keynote Speakers </h1>
    <p>
      <p>
        We are excited to have one senior and two junio keynote speakers to provide
        perspectives on data management from verifiable systems to fairness in data analysis. 
      </p>
    </div>
    <div class="page-content">

      <h2>Verifying a file system: correctness in presence of crashes <br>
        <p>Frans Kaashoek &nbsp; <small>MIT</small></p> </h2>

        <h3>Abstract</h3>
        <p>
          As a case study of system software verification, this talk will describe FSCQ, the first file system with a machine-checkable proof (using the Coq proof assistant) that its implementation meets its specification and whose specification includes crashes. FSCQ provably avoids bugs that have plagued previous file systems, such as performing disk writes without sufficient barriers or forgetting to zero out directory blocks. If a crash happens at an inopportune time, these bugs can lead to data loss. FSCQ's theorems prove that, under any sequence of crashes followed by reboots, FSCQ will recover the file system correctly without losing data. Our experience with FSCQ and results by other researchers suggest that formal verification has much potential, with many interesting and challenging research problems. Joint work with: Tej Chajed, Haogang Chen, Atalay İleri, Adam Chlipala, Nickolai Zeldovich
        </p>
        <h3>Bio</h3>
        <p>
          Frans Kaashoek is the Charles Piper Professor in MIT's EECS department and a member of CSAIL, where he coleads the parallel and distributed operating systems (PDOS) group. He received his PhD from the Vrije Universiteit (Amsterdam, The Netherlands) for his work on group communication in the Amoeba distributed operating system. Frans is a member of the National Academy of Engineering and the American Academy of Arts and Sciences, the recipient of the ACM SIGOPS Mark Weiser award and the 2010 ACM Prize in Computing. He was a cofounder of Sightpath, Inc. and Mazu Networks, Inc.   </p>
        </p>
        
        <h2>My Top Ten Fears about the DBMS Field<br>
          <p>Michael Stonebraker &nbsp; <small>MIT CSAIL</small> <br>
          </p>
        </h2>

        <h3>Abstract</h3>
        <p>
          In this paper, I present my top ten fears about the future of the DBMS field, with apologies to David Letterman.  There are three "big fears", which I discuss first.  Five additional fears are a result of the “big three”.  I then conclude with “the big enchilada”, which is a pair of fears.  In each case, I indicate what I think is the best way to deal with the current situation.
        </p>
        <h3>Bio</h3>
        <p>
          Michael Stonebraker is a computer scientist specializing in database research. Through a series of academic prototypes and commercial startups, Stonebraker's research and products are central to many relational database systems. He is also the founder of many database companies, including Ingres Corporation, Illustra, StreamBase Systems, Vertica and VoltDB, and served as chief technical officer of Informix. He is also an editor for the book Readings in Database Systems.

          Stonebraker's career can be broadly divided into two phases: his time at University of California, Berkeley when he focused on relational database management systems such as Ingres and Postgres, and at Massachusetts Institute of Technology (MIT) where he developed more novel data management techniques such as C-Store, H-Store and SciDB . Major prizes include the Turing Award in 2015.
        </p>
      </div>
    </div>
