<div class="content-container">
  <h1>
    North East Database Day 2018 <br />
    <small>Friday January 19th, 2018</small><br/>
    <small>MIT CSAIL Building 32 Room 123</small>
  </h1>
  <style>
  i {
    font-weight: bold;
    display: block;
  }
  </style>
  <h2 class="sponsorCallout">The program will be announced on January 15th, 2019</h2>
  
  
</div>
